<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:msg.properties" />

    <bean id = "repo" class = "com.rc.training.repo.EmployeeRepository">
    </bean>

    <bean id = "msg" class = "com.rc.training.error_messages.Messages">
        <property name="negativeIdMessage" value="${negative}" />
        <property name="duplicateIdMessage" value="${duplicate}" />
    </bean>

    <bean id = "service" class = "com.rc.training.service.EmployeeService" init-method="init" destroy-method="clearRepository">
        <constructor-arg ref="repo"/>
        <constructor-arg ref="msg"/>
    </bean>
</beans>